    /* ------------------------------ Generali ---------------------------------*/
body {
    margin: 0;
}

.content {
    /*padding: 10px;*/
    margin-top: 10px;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.smiles {
    top:10px;
    display: inline-block;
    padding: 3px;
    /*margin: 15px;  margin: 20px was off */
    float: left;
    height: 60px;
    width: auto; /* correct proportions to specified height */
    transition: transform .2s;
    vertical-align: middle;
}
.smiles:hover{
    transform: scale(1.2);
}

#logo{
    display: inline-block;
    float: right;
    margin: 5px;
}

#nav-title {
    background-color: #010042;
    overflow: auto;
    height: auto;
}

#site-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: x-large;
}



/* ------------------------------------ Menu laterale ------------------------------------ */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: -1;*/ /* Stay on top */
    top: 130px;/* at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;*/
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #dcdcdc;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #737373;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.sidenav .filter{
    padding: 6px 8px 6px 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
}

.sidenav .filter-name {
    font-size: 22px;
    color: #737373;
    display: block;
}

    .form-control{
        margin: 2px 2px 6px 2px;
    }

    .sidenav .filter-content {
        font-size: 18px;
        color: #737373;
        display: block;
    }


    .sidenav .filter-content #map-legend{
        max-height: 0;

        overflow:hidden;
        transition: max-height 0.5s, overflow 0s;
    }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #b2b2b2;
    background-color: #dcdcdc;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ------------------------------------ Mappa ------------------------------------ */
#map {
    /*border-style: solid;
    border-color: #000;
    border-width: 2px;*/
}

#info-table{

}

#info-table th {

}

#info-table td {

}

#map-legend {
    display: block;
    top: 0;
}


#contenitore .box {
    /*width: 200px;*/
    float: left;
}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #07a0aa;
}

#states .selected {
    fill: #002F80;
}

/*#states .selected {
    fill: darkseagreen;
}*/

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/* ------------------------------------ Navbar ------------------------------------ */
/* Style the navbar */
#navbar {
    z-index: 1;
    overflow: hidden;
    background-color: white;
    padding: 0px;
}
#logo-cil {
    padding-top: 15px;
    padding-bottom: 10px;
}

#linea {
    display: block;
    clear: both;
}
/* Site name */
#site-name {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px 14px 0px;
    text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 120px;
}

/*-------------------------------- Informazioni -----------------------------------*/
#info-data path {  stroke: #fff; }
#info-data path:hover {  opacity:0.9; }

.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

#info-regione{
    font-weight: bold;
    font-size: large;
}

#info-filter{
    color: #002F80;
}