    /* ------------------------------ Generali ---------------------------------*/
body {
    margin: 0;
}

.content {
    /*padding: 10px;*/
    margin-top: 10px;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

#logo {
    font-size: xx-large;
}



/* ------------------------------------ Menu laterale ------------------------------------ */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;*/
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #dcdcdc;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #737373;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #b2b2b2;
    background-color: #dcdcdc;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ------------------------------------ Mappa ------------------------------------ */
#map {
    /*border-style: solid;
    border-color: #000;
    border-width: 2px;*/
}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #07a0aa;
}

#states .active {
    fill: orange;
}

#states .selected {
    fill: darkseagreen;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/* ------------------------------------ Navbar ------------------------------------ */
/* Style the navbar */
#navbar {
    z-index: 2;
    overflow: hidden;
    background-color: #838383;
    height: 60px;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
